
#::: ENV{_LTE{{slot}}_}="<lte>"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1:1.3/tty*",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} tty1 {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1:1.4/tty*",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} tty2 {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="net", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1:1.0/net/*", RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} net  {{slot}} $name"

ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1.{{usbport}}/1-1.{{usbport}}:1.3/tty*",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} tty1 {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="tty", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1.{{usbport}}/1-1.{{usbport}}:1.4/tty*",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} tty2 {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="net", DEVPATH=="*ci_hdrc.0/usb1/1-1/1-1.{{usbport}}/1-1.{{usbport}}:1.0/net/*", RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} net  {{slot}} $name"

ACTION=="add|remove", SUBSYSTEM=="rfkill", DEVPATH=="/devices/platform/lte_kill{{slot}}/rfkill/rfkill0", RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} rfkill  {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="rfkill", DEVPATH=="/devices/platform/lte_kill{{slot}}/rfkill/rfkill1", RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} rfreset {{slot}} $name"

ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot{{slot}}/leds/lte-{{slot}}-sig-r",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} led.sig {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot{{slot}}/leds/lte-{{slot}}-sig-g",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} led.sig {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot{{slot}}/leds/lte-{{slot}}-sig-b",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} led.sig {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot{{slot}}/leds/lte-{{slot}}-int-r",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} led.int {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot{{slot}}/leds/lte-{{slot}}-int-g",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} led.int {{slot}} $name"
ACTION=="add|remove", SUBSYSTEM=="leds", DEVPATH=="*/led_slot{{slot}}/leds/lte-{{slot}}-int-b",  RUN+="/opt/unipi/tools/uhelper lte.$env{_LTE{{slot}}_} led.int {{slot}} $name"
