*~
*.swp
*.o
*.la
*.lo
*.log
*.trs
*.exe
src/unipihostname
src/unipicheck
.travis.yml
.dir-locals.el
.deps
.libs
debian/unipi-os-configurator/
debian/changelog
*.substvars
*.debhelper
overlays/*.dts
overlays/*.dtb
overlays/.*
overlays/Makefile
overlays/Module.symvers
overlays/imx8mm-pinfunc.h
overlays/modules.order
