Source: unipi-os-configurator-data
Section: unknown
Priority: optional
Maintainer: Martin Kudlacek <kudlacek@unipi.technology>
Build-Depends: debhelper (>= 10), python3-jinja2
Standards-Version: 3.9.8.0
Homepage: www.unipi.technology
#Vcs-Git: https://git.unipi.technology/UniPi/os-configurator/data-iris
#Vcs-Browser: https://git.unipi.technology/UniPi/os-configurator/data-iris

Package: unipi-os-configurator-data
Architecture: any
Description: Unipi Iris specific data for Unipi OS configurator
Depends: unipi-os-configurator (>= 0.8)
